.userItem {
    max-width: 80ch;
    min-height: 5em;
    display: flex;
    box-shadow: 0 .1rem 1rem -.5rem black;
    border-radius: 1rem;
    margin: 1rem;
}
.userItem > div {
    padding: .5rem;
  }

.userItem_avatar {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: .5rem;
}

.userItem_followBtn {
    width: 100%;
    margin-block: .5rem;
}
.userItem_main {
    flex-grow: 1;
}