.header{
    grid-area: h;
    padding: 1em;
    background-color: #30393e;
    display: flex
}

.header img {
    max-height: 100%;
}

.loginBlock {
    margin-left: auto;
    border-radius: 1rem;
    color: #CDCDCD;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    box-shadow: 0 0 1rem -.5rem currentColor;
    user-select: none;
}
.loginBlock a {
    color: inherit;
    display: block;
    padding: .5em;
  }
.userName {
    margin-right: 1rem;
}