.profileWallpaper{
    height: 100px;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
}
.profileWallpaper input{
    display: block;
    margin: 1rem;
}
.mainPhoto{
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    border: 2px solid #30393e;
}
.mainPhoto img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}
.profileOptions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1rem 0;
}
.profileOptions > div {
    flex: 1 0 22ch
}
.profileInfoItem{
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .6rem -.3rem black inset;
}
.profileInfoItem b{white-space: nowrap;}

.profileFormButton{

}
.profileFormButton button{}