.app__wrapper{
    display: grid;
    grid-template-rows: 5em 1fr;
    grid-template-columns: 1fr 12fr;
    grid-template-areas: "h h" "n c";
    grid-gap: 1em;
    max-width: 900px;
    margin: auto;
}

.app__wrapper > * {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0em 0em 1em -0.5em #30393e;
}


.app__wrapper__content{
    grid-area: c;
    background-color: #f8f9fa;
}

