.app__wrapper{
    display: grid;
    grid-template-rows: 5em 1fr;
    grid-template-columns: 2fr 12fr;
    grid-template-areas: "h h" "n c";
    grid-gap: 1em;
    max-width: 900px;
    margin: auto;
}

.app__wrapper > * {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0em 0em 1em -0.5em #30393e;
}


.app__wrapper__content{
    grid-area: c;
    background-color: #f8f9fa;
}
a{
    text-decoration: none;
}
.globalErrorMessage {
    position: fixed;
    max-width: 30ch;
    padding: 1rem 2rem;
    right: 5vmin;
    bottom: 5vmin;
    background-color: rgba(188, 143, 143, .5);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    box-shadow: 1px 1px 12px -4px red, 0px 0px 6px -3px black;
    text-shadow: 0 0 8px rgba(188, 143, 143);
}